.hamburger {
    opacity: 0;
}

.dropMenu {
    opacity: 0;
}


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ff625083;
    position: fixed;
    left: 5%;


    ul {
        display: flex;
        gap: 100px;


        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.mouseScroll {
    margin-bottom: 200px;
}