@media (max-width:860px) {

    i {
        position: relative;
        top: 25px;

    }



    .dropMenu {
        opacity: 0;
    }

    .hamburger {
        opacity: 1;

        &:hover {
            cursor: pointer;
        }
    }

    .open {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        align-items: center;
        padding: 0;
        opacity: 1;

        a {
            text-decoration: none;
            color: inherit
        }


    }


    .spacer {
        display: none;
    }

    .navBar {
        display: none;

        // .kcLogo {
        //     min-width: 100px;
        // }

        // ul {
        //     display: none;
        // }
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        .textContainer {
            display: flex;
            flex-direction: column;
            width: 100%;

            .aboutP {
                width: 100%;
            }
        }
    }

    .projects {
        margin-top: 150px;

        h2 {
            margin-bottom: 100px;
        }
    }

    .project1,
    .project2,
    .project3 {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;

        .titleOverlay {
            text-align: center;
        }
    }

    .tech {
        h2 {
            margin-bottom: 150px;
        }

    }

    .tsIcons {
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    .contact {
        flex-direction: column;

    }

    .contactForm {
        margin-top: 50px;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        background-color: $navy;

    }
}