$baseFont: 'Raleway', sans-serif;
$yellow: #ffa822;
$blue: #134e6f;
$red: #ff6150;
$teal: #1ac0c6;
$gray: #dee0e6;

@mixin fontStyles ($weight, $size, $spacing, $color) {
    font-weight: $weight;
    font-size: $size;
    letter-spacing: $spacing;
    font-family: $baseFont;
    color: $color;
}